
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="card-deck">
    <div class="card text-white bg-primary mb-4 " style="max-width: 20rem;">
        <div class="card-header">Toplam Kategori Sayısı</div>
        <div class="card-body">
            <h5 class="card-text"> @ViewBag.CategoryCount</h5>
        </div>
    </div>
    <div class="card text-white bg-gradient-success mb-4 " style="max-width: 20rem;">
        <div class="card-header">Başlık tablosunda "yazılım" kategorisine ait başlık sayısı</div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <br />
            <h5 class="card-text"> @ViewBag.Heading</h5>
        </div>
    </div>
    <div class="card text-white bg-gradient-cyan mb-4 " style="max-width: 20rem; ">
        <div class="card-header">Yazar adında 'a' harfi geçen yazar sayısı</div>
        <div class="card-body">
            <h5 class="card-text"> @ViewBag.Writer</h5>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card text-white bg-danger mb-6 " style="max-width: 20rem;height:auto">
        <div class="card-header">En fazla başlığa sahip kategori adı</div>
        <div class="card-body">

            <h5 class="card-text"> @ViewBag.HeadingMax</h5>
        </div>
    </div>
    <div class="card text-white bg-gradient-indigo mb-6 " style="max-width: 20rem; height:auto">
        <div class="card-header">Kategori tablosunda durumu true olan kategoriler ile false olan kategoriler arasındaki sayısal fark</div>
        <div class="card-body">
            <h5 class="card-text"> @ViewBag.StatusDiffrerent</h5>
        </div>
    </div>
</div>

